body {
    flex-direction: column;
    background: linear-gradient(black, rgb(8, 0, 53));
    background-attachment: fixed;
    color: orangered;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
}
h1 {
    background: linear-gradient(orangered, rgb(238, 255, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
section {
    background: linear-gradient(#0b0047, #000000);
    color: orangered;
    padding: 20px;
    margin: 10;
    BORDER-RADIUS: 20px;
    border-color: orangered;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.section-2 {
    background: linear-gradient(#0b0047, #000000);
    color: orangered;
    padding: 20px;
    margin: 10;
    BORDER-RADIUS: 20px;
    border-color: orangered;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}